In [10]:
import pandas as pd
from zipfile import ZipFile
import os
import glob

In [7]:
zf = zipfile.ZipFile('C:\\Users\ejohn\Desktop\Data-Homework\Tableau\JC-201801-citibike-tripdata.csv.zip') 
df = pd.read_csv(zf.open('JC-201801-citibike-tripdata.csv'))

In [9]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [13]:
zf = zipfile.ZipFile('C:\\Users\ejohn\Desktop\Data-Homework\Tableau\JC-201812-citibike-tripdata.csv.zip') 
df12 = pd.read_csv(zf.open('JC-201812-citibike-tripdata.csv'))

In [14]:
df12.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,170,2018-12-01 00:03:53.3860,2018-12-01 00:06:43.7160,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26261,Subscriber,1975,1
1,172,2018-12-01 00:47:13.7340,2018-12-01 00:50:05.8160,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,26175,Subscriber,1988,1
2,247,2018-12-01 00:48:57.6960,2018-12-01 00:53:05.6780,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29255,Subscriber,1990,1
3,406,2018-12-01 01:33:53.6630,2018-12-01 01:40:39.7480,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29275,Subscriber,1995,1
4,354,2018-12-01 06:26:52.5120,2018-12-01 06:32:46.5170,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29658,Subscriber,1976,1

In [28]:
extension = 'zip'
filenames = []
filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [21]:
filenames

['JC-201801-citibike-tripdata.csv.zip',
 'JC-201802-citibike-tripdata.csv.zip',
 'JC-201803-citibike-tripdata.csv.zip',
 'JC-201804-citibike-tripdata.csv.zip',
 'JC-201805-citibike-tripdata.csv.zip',
 'JC-201806-citibike-tripdata.csv.zip',
 'JC-201807-citibike-tripdata.csv.zip',
 'JC-201808-citibike-tripdata.csv.zip',
 'JC-201809-citibike-tripdata.csv.zip',
 'JC-201810-citibike-tripdata.csv.zip',
 'JC-201811-citibike-tripdata.csv.zip',
 'JC-201812-citibike-tripdata.csv.zip']

In [34]:
csvs = []

for i in filenames:
    j = i.replace('.zip','')
    csvs.append(j)

print(csvs)

['JC-201801-citibike-tripdata.csv', 'JC-201802-citibike-tripdata.csv', 'JC-201803-citibike-tripdata.csv', 'JC-201804-citibike-tripdata.csv', 'JC-201805-citibike-tripdata.csv', 'JC-201806-citibike-tripdata.csv', 'JC-201807-citibike-tripdata.csv', 'JC-201808-citibike-tripdata.csv', 'JC-201809-citibike-tripdata.csv', 'JC-201810-citibike-tripdata.csv', 'JC-201811-citibike-tripdata.csv', 'JC-201812-citibike-tripdata.csv']

In [39]:
combined = pd.DataFrame()
for filename in filenames:
    zf = zipfile.ZipFile(f"C:\\Users\ejohn\Desktop\Data-Homework\Tableau\{filename}") 
    csv = filename.replace('.zip','')
    df = pd.read_csv(zf.open(csv))
    combined = pd.concat(df, ignore_index = True)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [41]:
for filename in filenames:
    zf = zipfile.ZipFile(f"C:\\Users\ejohn\Desktop\Data-Homework\Tableau\{filename}") 
    zf.extractall("C:\\Users\ejohn\Desktop\Data-Homework\Tableau")
    zf.close()

In [42]:
combined = pd.DataFrame()
combined = pd.concat([pd.read_csv(f) for f in csvs])

In [45]:
combined.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,3.538920e+05,353892.000000,353892.000000,353892.000000,353892.000000,353892.000000,353892.000000,353892.000000,353892.000000,353892.000000
mean,6.733930e+02,3264.996606,40.722724,-74.046039,3258.408418,40.722326,-74.045505,29452.498808,1980.387875,1.152388
std,7.004022e+03,138.429108,0.007251,0.010755,147.610023,0.007095,0.010759,2529.992371,10.268528,0.500198
min,6.100000e+01,3183.000000,40.692640,-74.096937,127.000000,40.679331,-74.096937,14697.000000,1887.000000,0.000000
25%,2.280000e+02,3192.000000,40.718211,-74.050444,3186.000000,40.717733,-74.049968,26315.000000,1974.000000,1.000000
50%,3.350000e+02,3205.000000,40.721525,-74.043845,3203.000000,40.721124,-74.043117,29493.000000,1983.000000,1.000000
75%,5.490000e+02,3272.000000,40.727224,-74.038051,3272.000000,40.727224,-74.037683,29679.000000,1988.000000,1.000000
max,2.061932e+06,3694.000000,40.748716,-74.032108,3694.000000,40.814326,-73.947821,35009.000000,2002.000000,2.000000

In [46]:
pd.isnull(combined).any()

tripduration               False
starttime                  False
stoptime                   False
start station id           False
start station name         False
start station latitude     False
start station longitude    False
end station id             False
end station name           False
end station latitude       False
end station longitude      False
bikeid                     False
usertype                   False
birth year                 False
gender                     False
dtype: bool

In [44]:
combined.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')